---
import Background from "../components/Background.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { JustifiedContent } from "../components/JustifiedContent";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!DOCTYPE html>
<html class="dark h-full antialiased" lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="flex h-full flex-col bg-zinc-50 dark:bg-black">
        <script is:inline>
            const theme = (() => {
                if (typeof localStorage !== "undefined") {
                    const themeFromStorage = localStorage.getItem("theme");
                    if (typeof themeFromStorage === "string") {
                        return themeFromStorage;
                    }
                }
                if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                    return "dark";
                }
                return "light";
            })();

            console.log(`inline script theme: ${theme}`);
            if (theme === "light") {
                document.documentElement.classList.remove("dark");
            } else {
                document.documentElement.classList.add("dark");
            }
            window.localStorage.setItem("theme", theme);
        </script>
        <Background />
        <div class="relative">
            <Header />
            <main>
                <JustifiedContent class="sm:px-8 mt-9">
                    <h1
                        class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-4xl"
                    >
                        Scientific Software Engineer
                    </h1>
                    <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
                        Hi there! My name is Alex and I'm passionate about science and software
                        development. I'm particularly interested in creating tools that can help
                        researchers with their work. I love the challenge of taking on new side
                        projects and I'm always eager to learn and grow in my field.
                    </p>
                </JustifiedContent>
            </main>
            <Footer />
        </div>
    </body>
</html>
