---
interface Props {
    imageSrc: string;
    slug: string;
}

const { imageSrc, slug } = Astro.props;
---

<div
    class="relative mt-1 flex h-10 w-10 flex-none items-center justify-center rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0"
    data-test={`avatar-${slug}`}
>
    <img class="h-7 w-7" loading="lazy" decoding="async" src={imageSrc} />
</div>
