---
import placeholder from "/placeholder-hero.jpg";
interface Props {
    title: string;
    slug: string;
    pubDate?: Date;
    description?: string;
    thumbnail?: string;
}

const { title, pubDate, slug, description, thumbnail }: Props = Astro.props;
---

<article class="group relative flex flex-row items-end gap-x-4">
    <div
        class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"
    >
    </div>
    <div class="flex flex-none flex-col items-center sm:items-start">
        <time
            datetime={pubDate && pubDate.toISOString()}
            class="relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 sm:pl-2"
        >
            {
                pubDate &&
                    pubDate.toLocaleDateString("en-us", {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                    })
            }
        </time>
        <img
            class="sm:w-22 h-10 w-20 rounded-sm sm:h-12 lg:h-24 lg:w-44"
            src={thumbnail || placeholder.src}
            alt=""
        />
    </div>
    <div class="group relative flex flex-col items-start">
        <h2 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
            <a href={`/blog/${slug}/`}>
                <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"
                ></span>
                <span class="relative z-10">{title}</span>
            </a>
        </h2>
        <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
            {description}
        </p>
        <div
            aria-hidden="true"
            class="relative z-10 mt-4 flex items-center text-sm font-medium text-sky-700"
        >
            Read Article
            <svg
                viewBox="0 0 16 16"
                fill="none"
                aria-hidden="true"
                class="ml-1 h-4 w-4 stroke-current"
            >
                <path
                    d="M6.75 5.75 9.25 8l-2.5 2.25"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                </path>
            </svg>
        </div>
    </div>
</article>
