---
import PrivacyPolicy from "./PrivacyModal";
const today = new Date();
---

<footer class="mt-auto p-8 text-center">
    <div class="text-xs text-zinc-600 dark:text-zinc-400">
        &copy; {today.getFullYear()} Alexander Zech. All rights reserved.
    </div>
    <PrivacyPolicy client:visible />
</footer>
