---
import { JustifiedContent } from "./JustifiedContent";
import { Navbar } from "./Navbar";
---

<JustifiedContent class="">
    <div class="relative flex gap-4">
        <Navbar />
    </div>
</JustifiedContent>
