---
import { JustifiedContent } from "./JustifiedContent";
import { Navbar } from "./Navbar";
---

<JustifiedContent class="my-8">
    <div class="relative flex gap-4">
        <Navbar client:load />
    </div>
</JustifiedContent>
